@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body {
  margin: auto;
  overflow: hidden;
  background-color: #fff;
}
canvas {
  background: radial-gradient(rgb(150, 200, 150), rgb(50, 100, 50));
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #ffffff;
}

.intro img {
  max-width: 1300px; 
  display: block; 
  margin: auto; 
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #437543;
  width: 2200px;
}

button {
  padding: 30px 60px;
  font-size: 2em;
  background-color: #ff7f50; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  margin: auto; /* Centra horizontalmente el botón */
  display: block;
}







